$Primary: #d87d4a;
$Primary-light: #fbaf85;

$Secondary: #101010;
$Secondary-light: #f1f1f1;

$Black: #000000;
$White: #ffffff;

$Neutral: #fafafa;
$Light: #d8d8d865;

$Border: 1px solid black;
$Border2: 1px solid #fff;
