// import our Systems sass file here
@import "sass/System.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*button {
  cursor: pointer;
}

.navbar-container {
  background: $Black;
  padding: 30px 25px;
  border-bottom: 1px solid #979797;
  .navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 328px;
    margin: 0 auto;
    border: 1px solid white;
    .item {
      img {
        height: 25px;
        width: 25px;
      }
    }
  }
}
