// import our Systems sass file here
@import "sass/System.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*button {
  cursor: pointer;
}

body {
  background: $White;
}

.new-product {
  color: $Primary;
  letter-spacing: 5px;
  margin-bottom: 1rem;
}

// Break points: 375px / 768px / 1024px

.navbar-container {
  background: $Black;
  padding: 30px 25px;
  z-index: 10000000;
  .navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 90%;
    max-width: $Max-Width;
    margin: 0 auto;
    // border: 1px solid white;
    // border-bottom: 1px solid #979797;
    &::after {
      content: "";
      position: absolute;
      bottom: -30px;
      width: 100%;
      height: 1px;
      background: #1d1d1de7;
    }
    .item {
      img {
        height: 25px;
        width: 25px;
        cursor: pointer;
      }
    }
    .desktop-links {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .navbar-inner {
      position: relative;
      .logo-container {
        // border: 1px solid white;
        position: absolute;
        left: 50px;
      }
    }
  }

  @media (min-width: 1024px) {
    .navbar-inner {
      .menu-container {
        display: none;
      }
      .logo-container {
        position: static;
      }
      .desktop-links {
        display: flex;
        // border: 1px solid #fff;
        a {
          color: $Secondary-light;
          text-decoration: none;
          cursor: pointer;
          text-transform: uppercase;
          margin: 0px 1rem;
          transition: $Transition;
          &:hover {
            color: $Primary;
          }
        }
      }
    }
  }
}

// Landing Container
.landing-container-wrapper {
  background: url("./../src/assets/home/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;

  .landing-container {
    // border: $Border2;
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: 0 auto 100px auto;
    // padding-top: 100px;
    .subtitle {
      color: $Neutral;
      letter-spacing: 3px;
      font-weight: 200;
    }
    .title {
      color: $Secondary-light;
      margin: 20px auto;
    }
    .content {
      color: $Neutral;
      font-weight: 200;
      line-height: 1.4;
      margin: 10px auto 20px auto;
      width: 80%;
    }
  }

  @media (min-width: 465px) {
    background: url("./../src/assets/home/tablet/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }

  @media (min-width: 768px) {
    .landing-container {
      .content {
        margin-bottom: 70px;
        width: 70%;
      }
    }
  }

  @media (min-width: 1024px) {
    background: url("./../src/assets/home/desktop/image-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: inline-block;

    .landing-container {
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      max-width: $Max-Width;
      padding-top: 0;
      .landing-container-inner {
        width: 50%;
        text-align: left;
        .content {
          width: 40ch;
          margin: 0;
        }
        button {
          margin-top: 50px;
        }
      }
    }
  }
}

// ItemcContainerHome
.items-container {
  // border: $Border;
  max-width: $Max-Width;
  // width: 90%;
  width: 100%;
  margin: 0 auto;
  a {
    text-decoration: none;
    color: $Black;
    // border: $Border;
  }
  .item {
    width: 90%;
    margin: 0 auto;
    height: 165px;
    background: $Neutral;
    margin: 75px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 90px;
    border-radius: $Border-radius;
    .item-image {
      position: absolute;
      top: -50px;
      filter: drop-shadow(5px 5px 5px gray);
    }
    .shop {
      img {
        margin-left: 10px;
      }
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    padding: 25px 0px 0px 0px;
    .item {
      width: 30%;
      height: 220px;
    }
  }
}
// Items Container Navbar
.items-wrapper-overlay {
  background: $Overlay;
  height: 100%;
  width: 100%;
  .items-container.nav {
    position: absolute;
    background: $White;
    box-shadow: 1px 2px 10px black;
    @media (min-width: $Desktop) {
      display: none;
    }
  }
}

// zx9 Container
.zx9-home-container {
  width: 90%;
  max-width: $Max-Width;
  margin: 0 auto;
  text-align: center;
  padding: 45px;
  background: $Primary;
  color: $White;
  border-radius: $Border-radius;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .zx9-image-container {
    border: 1px solid $Light;
    border-radius: 100%;
    width: 350px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      width: 110%;
      height: 110%;
      border-radius: 100%;
      border: 1px solid $Light;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -5%;
      z-index: 1;
    }
    &::before {
      content: "";
      width: 200%;
      height: 200%;
      border-radius: 100%;
      border: 1px solid $Light;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -50%;
      z-index: 1;
    }
    .zx9-image {
      height: 250px;
      height: 250px;
      margin: 50px auto;
    }
  }
  .title {
    width: 10ch;
    margin: 0 auto;
    z-index: 10;
  }
  .content {
    margin: 35px auto;
    color: $Neutral;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 1.4;
  }
  .product {
    background: $Black;
    color: $White;
    transition: $Transition;
    border: none;
    &:hover {
      background: $White;
      color: $Black;
      border: none;
    }
  }

  @media (min-width: 950px) {
    padding-bottom: 0px;
    max-height: 500px;
    .flex-row {
      display: flex;
      flex-direction: row-reverse;
      // border: $Border;
      position: relative;

      .zx9-image-container {
        width: 400px;
        position: absolute;
        // left: -50px;
        bottom: -50px;
        left: 0;
        .zx9-image {
          // border: $Border;
          width: 280px;
          height: auto;
        }
      }

      .zx9-info {
        // border: $Border;
        width: 60%;
        text-align: left;
        z-index: 40;
        padding: 100px;
        .title {
          width: 100%;
          width: 20%;
          margin: 0;
        }
      }
    }
  }
}

// zx7 Speakers Container
.zx7-container {
  width: 90%;
  max-width: $Max-Width;
  margin: 50px auto;
  // border: $Border;
  border-radius: $Border-radius;
  background: url("./../src/assets/home/tablet/image-speaker-zx7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  .left-container {
    // border: $Border;
    width: 100%;
    margin-top: 50px;
    padding: 20px 0px;
    h1,
    button {
      margin: 25px;
    }
  }

  @media (min-width: $Tablet) {
    background: url("./../src/assets/home/desktop/image-speaker-zx7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .left-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 100px;
    }
  }
}

// Yx1Container
.yx1-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: $Max-Width;
  margin: 0 auto 50px auto;
  // border: $Border;
  .top-container {
    margin-bottom: 50px;
    height: 200px;
    width: 100%;
    background: url("./../src/assets/home/mobile/image-earphones-yx1.jpg");
    background-position: center;
    background-size: cover;
    border-radius: $Border-radius;
  }
  .bottom-container {
    // border: $Border;
    height: 200px;
    background: $Secondary-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    border-radius: $Border-radius;
    h1 {
      margin-bottom: 25px;
    }
  }

  // Tablet
  @media (min-width: $Tablet) {
    flex-direction: row;
    justify-content: space-between;
    .top-container,
    .bottom-container {
      width: 48%;
      height: 350px;
    }
  }
}

// About container
.about-container {
  width: 90%;
  max-width: $Max-Width;
  margin: 50px auto 150px auto;
  // border: $Border;
  display: flex;
  flex-direction: column;
  .top-container {
    background: url("./../src/assets/shared/mobile/image-best-gear.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    border-radius: $Border-radius;
  }
  .bottom-container {
    // border: $Border;
    text-align: center;
    h1 {
      margin: 25px auto;
      span {
        color: $Primary;
      }
    }
    p {
      color: $Secondary;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 1.4;
    }
  }
  @media (min-width: $Tablet) {
    .top-container {
      background: url("./../src/assets/shared/tablet/image-best-gear.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .bottom-container {
      width: 80%;
      margin: 0 auto;
    }
  }
  @media (min-width: $Desktop) {
    flex-direction: row-reverse;
    justify-content: space-between;
    .top-container {
      width: 48%;
    }
    .bottom-container {
      text-align: left;
      width: 49%;
      padding-right: 100px;
    }
  }
}

// Footer Container
.footer-container {
  background: $Black;
  padding: 50px;
  .footer-inner-wrapper {
    max-width: $Max-Width;
    margin: 0 auto;
  }
  .footer-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: $Border2;
    .logo {
      background: url("./../src/assets/shared/desktop/logo.svg");
      background-repeat: no-repeat;
      // border: $Border2;
      width: 200px;
      height: 50px;
      background-position: center;
      margin-bottom: 50px;
    }
    .footer-nav-container {
      // border: $Border2;
      text-align: center;
      a {
        text-decoration: none;
        color: $White;
        transition: $Transition;
        h5 {
          margin: 16px auto;
        }
        &:hover {
          color: $Primary;
        }
      }
    }
  }
  .footer-bottom {
    padding: 50px 25px;
    text-align: center;
    // border: $Border2;
    p {
      color: $Light;
      letter-spacing: 1px;
      line-height: 1.5;
    }
    .copyright {
      margin: 50px auto;
    }
    .social-link {
      // border: $Border2;
      display: flex;
      align-items: center;
      justify-content: center;
      .facebook {
        background: url("./../src/assets/shared/desktop/icon-facebook.svg");
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: $Transition;
      }
      .facebook.active {
        background: url("./../src/assets/shared/desktop/icon-facebookactive.svg");
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: $Transition;
      }
      .twitter {
        background: url("./../src/assets/shared/desktop/icon-twitter.svg");
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: $Transition;
      }
      .twitter.active {
        background: url("./../src/assets/shared/desktop/icon-twitteractive.svg");
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: $Transition;
      }
      .instagram {
        background: url("./../src/assets/shared/desktop/icon-instagram.svg");
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .instagram.active {
        background: url("./../src/assets/shared/desktop/icon-instagramactive.svg");
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: $Transition;
      }
    }
  }

  // Tablet
  @media (min-width: 768px) {
    .footer-upper {
      // border: $Border2;
      text-align: left;
      align-items: flex-start;
      .footer-nav-container {
        display: flex;
        a {
          margin-right: 25px;
        }
      }
    }
    .footer-bottom {
      text-align: left;
      padding-left: 0px;
      .flex-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: $Border2;
        margin-top: 50px;
        .copyright {
          margin: 0px;
        }
      }
    }
  }

  // Desktop
  @media (min-width: $Desktop) {
    .footer-upper {
      flex-direction: row;
      justify-content: space-between;
      .logo {
        height: 60px;
      }
    }
    .footer-bottom {
      position: relative;
      .footer-content {
        width: 50%;
      }
      .social-link {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

// Banner container
.banner-container {
  height: 150px;
  background: $Black;
  display: grid;
  place-content: center;

  h1 {
    color: $White;
  }
}

// Products - container
.product-container {
  // border: $Border;
  width: 90%;
  max-width: $Max-Width;
  margin: 50px auto;
  .product-image {
    object-fit: contain;
    width: 100%;
    background: $Neutral;

    img {
      height: 100%;
      width: 100%;
      border-radius: $Border-radius;
    }
    .image-desktop {
      display: none;
    }
  }
  .product-content {
    text-align: center;
    // border: $Border;
    padding: 2rem;

    .subtitle {
      color: $Primary;
      letter-spacing: 10px;
      margin-bottom: 20px;
    }
    .description {
      margin: 1rem;
      letter-spacing: 1.1px;
      line-height: 1.5;
    }
  }

  @media (min-width: $Desktop) {
    display: flex;
    .product-image {
      width: 50%;
      .image-mobile {
        display: none;
      }
      .image-desktop {
        display: block;
      }
    }
    .product-content {
      width: 50%;
      text-align: left;
      display: grid;
      place-content: center;
      .description {
        margin-left: 0px;
      }
    }
  }
}
@media (min-width: $Desktop) {
  .product-container.reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

// Products-details-container
.product-details-container {
  // border: $Border;
  width: 90%;
  max-width: $Max-Width;
  margin: 50px auto 0px auto;
  .product-top-container {
    // border: $Border;
    .image {
      // border: $Border;
      width: 100%;
      .image-mobile {
        width: 100%;
      }
      .image-tablet {
        display: none;
      }
      .image-desktop {
        display: none;
      }
    }
    .product-details {
      // border: $Border;
      width: 100%;
      padding: 2rem 0;
      .title {
        margin-bottom: 2rem;
      }
      .description {
        letter-spacing: 1px;
        line-height: 1.5;
        margin-bottom: 1rem;
      }
      .price {
        margin: 1rem 0;
      }
      .add-to-cart-container {
        // border: $Border;
        display: flex;
        .cart-counter {
          // border: $Border;
          height: 48px;
          .decrement,
          .increment,
          .count {
            height: 100%;
            width: 40px;
            background: $Light;
            border: none;
          }
          .count {
            // border: $Border;
            outline: none;
            text-align: center;
            &:placeholder-shown {
              text-align: center;
            }
          }
        }
        .button-1 {
          margin-left: 1.5rem;
        }
      }
    }
  }
  .product-bottom-container {
    // border: $Border;
    width: 100%;
    margin: 50px auto;
    .title {
      margin-bottom: 25px;
    }
    .feature {
      letter-spacing: 1px;
      line-height: 1.5;
      margin-bottom: 25px;
    }
    .in-the-box {
      // border: $Border;
      .box {
        display: flex;
        // border: $Border;
        padding: 1rem 0;
        .frequency {
          color: $Primary;
          font-weight: 800;
        }
        .description {
          margin-left: 2rem;
        }
      }
    }
  }
  @media (min-width: $Tablet) {
    .product-top-container {
      display: flex;
      .image {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .image-mobile {
          display: none;
        }
        .image-tablet {
          display: flex;
          width: 90%;
          max-width: 400px;
        }
      }
      .product-details {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
    .product-bottom-container {
      .features-container {
        margin-bottom: 100px;
      }
      .in-the-box {
        display: flex;
        // justify-content: space-between;
        .box-container {
          margin-left: 100px;
        }
      }
    }
  }
  @media (min-width: $Desktop) {
    .product-top-container {
      .image {
        .image-tablet {
          display: none;
        }
        .image-desktop {
          display: flex;
          width: 95%;
        }
      }
    }
    .product-bottom-container {
      display: flex;
      .features-container {
        width: 60%;
      }
      .in-the-box {
        width: 40%;
        flex-direction: column;
        h2 {
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }
  }
}

// Gallary Container
.gallery-container {
  width: 90%;
  margin: 0 auto;
  max-width: $Max-Width;
  .gallery-top {
    // border: $Border;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 100%;
      margin-bottom: 20px;
      border-radius: $Border-radius;
    }
  }
  .gallery-bottom {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      margin: 1rem 0;
      border-radius: $Border-radius;
    }
  }
  @media (min-width: $Tablet) {
    display: flex;
    justify-content: space-between;
    .gallery-top {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        // margin-bottom: 10px;
        margin: 0px;
      }
    }
    .gallery-bottom {
      width: 57%;
      img {
        margin: 0px;
      }
    }
  }
}

// Upsale container
.upsale-container {
  // border: $Border;
  text-align: center;
  margin: 100px auto;
  width: 90%;
  max-width: $Max-Width;
  .itemsToConsider-container {
    // border: $Border;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .item {
      width: 100%;
      margin-bottom: 50px;
      // border: $Border;

      .image-mobile {
        width: 100%;
        border-radius: $Border-radius;
      }
      .image-tablet {
        display: none;
      }
      .image-desktop {
        display: none;
      }
      h2 {
        text-align: center;
        margin: 2rem;
      }
    }
  }
  @media (min-width: $Tablet) {
    h1 {
      margin-bottom: 50px;
    }
    .itemsToConsider-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .item {
        padding-bottom: 40px;
        position: relative;
        width: 31%;
        .image-mobile {
          display: none;
        }
        .image-tablet {
          width: 100%;
          display: flex;
        }
        .button-1 {
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          margin: 0 auto;
        }
      }
    }
  }
  @media (min-width: $Desktop) {
    .itemsToConsider-container {
      .item {
        .image-desktop {
          display: flex;
          width: 100%;
        }
        .image-tablet {
          display: none;
        }
      }
    }
  }
}

// Checkout Page
.checkout-page {
  // border: $Border;
  background: $Neutral;

  .checkout-inner {
    width: 90%;
    margin: 0px auto;
    padding-top: 50px;
    max-width: $Max-Width;
    // border: $Border;
    button {
      margin-bottom: 1rem;
    }
    .checkout-wrapper {
      .checkout-form {
        // border: $Border;
        padding: 1rem;
        background: $White;
        border-radius: $Border-radius;
        h2 {
          margin: 1.5rem 0px;
        }
        .billing-details,
        .shipping-info,
        .payment-details {
          // border: $Border;
          .title {
            color: $Primary;
            margin: 1rem 0;
          }
          .input {
            height: 58px;
            width: 100%;
            padding-left: 1rem;
            outline: none;
          }
          .label {
            font-weight: 600;
            margin: 1rem 0;
          }
        }

        .payment-details {
          .input-box.payment {
            border: 1px solid gray;
            display: flex;
            align-items: center;
            border-radius: $Border-radius;
            padding-left: 1rem;
            margin: 1rem 0;
            .radio {
              margin-right: 1rem;
            }
          }
        }

        @media (min-width: $Tablet) {
          // Billing info
          .billing-details {
            margin-bottom: 50px;
            .flex-row {
              display: flex;
              justify-content: space-between;
              // border: $Border;
              .input-box {
                width: 50%;
              }
              .input-box.small {
                width: 48%;
              }
            }
            .input-box {
              width: 50%;
            }
          }
          // Shipping info
          .shipping-info {
            margin-bottom: 50px;
            .input-box.wide {
              width: 100%;
            }
            .flex-row {
              display: flex;
              justify-content: space-between;
              // border: $Border;
              .input-box {
                width: 50%;
              }
              .input-box.small {
                width: 48%;
              }
            }
            .input-box {
              width: 50%;
            }
          }

          // Payment details
          .payment-details {
            margin-bottom: 50px;
            .flex-row {
              display: flex;
              justify-content: space-between;
              .label.payment {
                width: 50%;
              }
              .payment-options {
                width: 48%;
                .input-box.payment {
                  width: 100%;
                }
              }
              .input-box {
                width: 50%;
              }
              .input-box.small {
                width: 48%;
              }
            }
          }
        }
      }
    }

    // Summary
    .summary-container {
      width: 100%;
      margin: 50px auto;
      max-width: $Max-Width;
      border-radius: $Border-radius;
      background: $White;
      padding: 1rem;
      .cart-items {
        // border: $Border;
        height: 200px;
        .all-items-container-wrapper {
          width: 100%;
          .all-items-container {
            // border: $Border;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            .cart-items-wrapper {
              width: 100%;
              // border: $Border;
              margin: 1rem 0;
              display: flex;
              justify-content: space-between;
              .item-box {
                display: flex;
                // border: $Border;
                width: 50%;
                justify-content: space-between;
                align-items: center;
                .price {
                  color: $Gray;
                  letter-spacing: 1px;
                }
                .image-icon {
                  height: 50px;
                  width: 50px;
                  border-radius: $Border-radius;
                }
                .item-name-price {
                  // border: $Border;
                  width: 60%;
                  margin-left: 5px;
                }
              }
              .quantity-summary {
                // border: $Border;
                display: flex;
                height: 30px;
                align-self: center;
              }
            }
          }
        }
      }
      .box {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        .title {
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.61);
          letter-spacing: 1px;
        }
        .price {
          font-weight: 800;
          letter-spacing: 2px;
        }
      }
      .box.total {
        margin: 2rem 0;
        .price.total {
          color: $Primary;
        }
      }
      .button-1 {
        width: 100%;
      }
    }

    @media (min-width: $Desktop) {
      .checkout-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .checkout-form {
          width: 65%;
          margin-bottom: 100px;
          padding: 2rem;
        }
        .summary-container {
          width: 30%;
          margin-top: 0px;
          padding: 2rem;
        }
      }
    }
  }
}

// Success Modal Styling
.success-modal-overlay {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  .success-modal {
    width: 100%;
    margin: 0 auto;
    background: $White;
    border-radius: $Border-radius;
    padding: 2rem;
    .check {
      width: 50px;
      height: 50px;
    }
    .title {
      margin: 1rem 0;
    }
    .confirmation {
      color: $Gray;
      margin: 1rem 0;
    }
    .items-container {
      // border: $Border;
      border-radius: $Border-radius;
      margin-bottom: 25px;
      .left-container {
        // border: $Border;
        background: $Light;

        .all-items-container-wrapper {
          width: 100%;
          // border: $Border;
          .all-items-container {
            // border: $Border;
            width: 100%;
            margin: 0 auto;
            height: 100%;
            display: flex;
            flex-direction: column;

            .cart-items-wrapper {
              width: 100%;
              // border: $Border;
              margin: 1rem 0;
              display: flex;
              justify-content: space-between;
              .item-box {
                display: flex;
                // border: $Border;
                width: 50%;
                justify-content: space-between;
                align-items: center;
                .price {
                  color: $Gray;
                  letter-spacing: 1px;
                }
                .image-icon {
                  height: 50px;
                  width: 50px;
                  border-radius: $Border-radius;
                }
                .item-name-price {
                  // border: $Border;
                  width: 60%;
                  margin-left: 5px;
                }
              }
              .quantity-summary {
                // border: $Border;
                display: flex;
                height: 30px;
                align-self: center;
              }
            }
          }
        }

        .items-info {
          display: flex;
          align-items: center;
          .item-image {
            height: 100px;
            width: 100px;
            object-fit: fill;
            object-position: center;
          }
          .item-price {
            margin-left: 1rem;
            .price-value {
              color: $Gray;
              font-weight: 800;
              margin-top: 0.75rem;
            }
          }
          .quantity {
            margin-left: 4.5rem;
            color: $Gray;
          }
        }
        .other-items {
          border-top: 1px solid $Gray;
          text-align: center;
          color: $Gray;
          padding: 1.5rem 0;
          width: 90%;
          margin: 0 auto;
        }
      }

      .right-container {
        background: $Black;
        padding: 1.2rem;
        .title {
          color: $Light;
        }
        .total {
          color: $White;
          font-weight: 800;
          letter-spacing: 1px;
        }
      }
    }
    .button-1 {
      width: 100%;
      margin-top: 10px;
    }

    @media (min-width: $Tablet) {
      // width: 100%;
      width: 600px;
      .items-container {
        display: flex;
        // border: $Border;
        padding: 0;
        .left-container {
          height: 100%;
          border-top-left-radius: $Border-radius;
          border-bottom-left-radius: $Border-radius;
          margin: 0;
          width: 100%;
          min-height: 125px;

          .all-items-container-wrapper {
            padding-right: 10px;
          }

          .items-info {
            justify-content: space-evenly;
            padding-right: 2rem;
          }
        }
        .right-container {
          border-top-right-radius: $Border-radius;
          border-bottom-right-radius: $Border-radius;
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}

// Cart Modal
.cart-overlay {
  background: $Overlay;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.cart-modal {
  width: 90%;
  margin: 100px auto;
  padding: 2rem;
  max-width: 500px;
  background: $White;
  border-radius: $Border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .flex-row {
    display: flex;
    // border: $Border;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;
    .remove-all-button {
      background: none;
      border: none;
      text-decoration: underline;
      color: $Gray;
    }
  }
  .all-items-container-wrapper {
    width: 100%;
    .all-items-container {
      // border: $Border;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      .cart-items-wrapper {
        width: 100%;
        // border: $Border;
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        .item-box {
          display: flex;
          // border: $Border;
          width: 50%;
          justify-content: space-between;
          align-items: center;
          .price {
            color: $Gray;
            letter-spacing: 1px;
          }
          .image-icon {
            height: 50px;
            width: 50px;
            border-radius: $Border-radius;
          }
          .item-name-price {
            // border: $Border;
            width: 60%;
            margin-left: 5px;
          }
        }
        .quantity {
          // border: $Border;
          display: flex;
          height: 30px;
          align-self: center;
          button {
            width: 30px;
            background: $Light;
            border: none;
          }
          input {
            width: 30px;
            background: $Light;
            text-align: center;
            border: none;
          }
        }
      }
    }
  }
  .total {
    .text {
      text-transform: uppercase;
      color: $Gray;
    }
    .price {
      font-weight: 800;
    }
  }
  .button-1 {
    width: 100%;
  }
}
